.text-container{
    width: 100%;
    height: auto;
    background-color: rgb(193, 158, 242);
    text-align: center;
    color: white;
    
}
h4{
    text-align: center;
    
}
p{
    width: 390px;
    margin-left: 440px;
}
.imgg{
    text-align: center;
}
@media all and (max-widht:500px) {
    body {
    color: green;     
}
}